* {
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;  
    line-height: 1.5;      
    background-color: #f9f9f9;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    gap: 35px;
    align-items: center;
}
img {
    width: 30px;
    height: 15px;
}
button {
    border-radius: 20px;
    padding: 10px;
}
.logo {
    color:blue;
    font-size: 50px;
}


